@model IEnumerable<PryVidaFarma.Models.Productos>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Detalles</th>
            <th>Stock</th>
            <th>Precio</th>
            <td></td>
            <th>Categoría</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@producto.nombre_producto</td>
                <td>@producto.detalles</td>
                <td>@producto.stock</td>
                <td>@producto.precio</td>
                <td>
                    <img src="@producto.imagen" width="100px" alt="Imagen del producto"/>
                </td>
                <td>@producto.categoria.nombre_categoria</td>
                <td>@(producto.estado == 1 ? "Activo" : "Inactivo")</td>
            </tr>
        }
    </tbody>
</table>