<div class="d-flex justify-content-center flex-wrap p-2 p-md-0">
    @foreach (var producto in Model)
    {
        <div class="card m-2 p-3" style="flex: 1 1 calc(25% - 2rem); max-width: calc(25% - 2rem);">
            <a asp-area="" asp-controller="Productos" asp-action="DetailsProducto" asp-route-id="@producto.id_producto" style="text-decoration:none; color:black">
                <div class="d-flex justify-content-center">
                    <img style="width:250px; height:250px; object-fit:cover;" src="@producto.imagen" class="card-img-top img-fluid" alt="Imagen del producto">
                </div>
                <div class="card-body w-100 px-4 text-center">
                    <h5 class="card-title">@producto.nombre_producto</h5>
                    <p class="card-text">Precio: @producto.precio</p>
                    <br />
                    <p>@Html.ActionLink("Agregar al Carrito", "AgregarAlCarrito", "Carrito", new { idProducto = producto.id_producto }, new { @class = "btn btn-success" })</p>
                </div>
            </a>
        </div>
    }
</div>