@model PryVidaFarma.Models.Productos

@{
    ViewData["Title"] = "DetailsProducto";
}

<div class="px-4">
    <h2>Detalles del Producto</h2>

    <div class="bg-secondary rounded">
        <div class="d-flex flex-column p-5">
            <div class="col-sm-2 mx-2">
                @Html.DisplayFor(model => model.imagen)
            </div>
            <div class="col-sm-10 mx-2">
                <h4>@Html.DisplayFor(model => model.nombre_producto)</h4>
                <p><strong>Stock:</strong> @Html.DisplayFor(model => model.stock)</p>
                <p><strong>Descripción:</strong> @Html.DisplayFor(model => model.detalles)</p>
                <p><strong>Precio:</strong> @Html.DisplayFor(model => model.precio)</p>
                <a asp-action="AgregarAlCarrito" asp-route-id="@Model.id_producto" class="btn btn-success">Agregar al Carrito</a>
            </div>
        </div>
    </div>

</div>