@model PryVidaFarma.Models.DetalleCompra

<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<div class="container mt-5">
    <div class="boleta bg-white p-4 rounded shadow-sm">
        <h2 class="text-center text-success animate-text">Detalle de su Compra</h2>
        <p><strong>FECHA DE COMPRA :</strong> @Model.FechaCompra.ToString("dd/MM/yyyy")</p>
        <p><strong>NRO DE ORDEN :</strong> @Model.IdCarritoCompra</p>
        <p><strong>CLIENTE    :</strong> @Model.NombreCliente</p>
        <p><strong>DIRECCIÓN  :</strong> @Model.DireccionCliente</p>

        <table class="table table-bordered mt-4">
            <thead class="thead-light">
                <tr>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var producto in Model.Productos)
                {
                    <tr>
                        <td>@producto.Cantidad</td>
                        <td>@producto.NombreProducto</td>
                        <td>S/ @producto.Precio.ToString("0.00")</td>
                        <td>S/ @producto.ImporteTotal.ToString("0.00")</td>
                    </tr>
                }
            </tbody>
        </table>

        <p><strong>Método de pago:</strong> @Model.TipoPago</p>
        <h3 class="text-center text-info">Total General: S/ @Model.Productos.Sum(x => x.ImporteTotal).ToString("0.00")</h3>
    </div>
</div>