@using Newtonsoft.Json
@model PryVidaFarma.Models.CarritoCompra




@{
    ViewData["Title"] = "Ver Carrito";
    var carrito = JsonConvert.DeserializeObject<List<PryVidaFarma.Models.ProductoCarrito>>(Model.ProductosJson);
}



<div class="px-4">
    <div class="mb-3 px-4">
        <h1>Carrito de Compras</h1>

        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-warning">
                <h4><strong>@TempData["mensaje"]</strong></h4>
            </div>
        }
        <a asp-action="Index" class="btn btn-info">
            Seguir Comprando
        </a>
    </div>
</div>
<div class="card mx-5 px-4">
    <div class="card-body d-flex justify-content-between gap-5">
        <div class="card w-100">
            <div class="card-header text-center">
                Items del Carrito
            </div>
            <div class="card-body d-flex flex-column px-5">
                @if (carrito != null && carrito.Count > 0)
                {
                    @foreach (var item in carrito)
                    {
                        <div class="d-flex justify-content-between mb-2 gap-4">
                            <div>
                                <div>@item.NombreProducto</div>
                                <div>Cantidad: @item.Cantidad</div>
                                <div>Precio Unitario: @item.Precio.ToString("C")</div>
                                <div>Importe: @item.ImporteTotal.ToString("C")</div>
                            </div>
                            <div>
                                <a asp-action="EliminarArticulo" asp-route-idProducto="@item.IdProducto">
                                    <img src="~/img/Drop.svg" alt="Eliminar" />
                                </a>
                            </div>
                        </div>
                        <hr />
                    }
                }
                else
                {
                    <p class="text-center">No hay productos en el carrito.</p>
                }
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Resumen de la Compra
            </div>
            <div class="card-body d-flex flex-column">
                @if (ViewBag.total != null && ViewBag.total > 0)
                {
                    <div class="alert alert-info">
                        <h4>Total a Pagar: <br /> <strong>@ViewBag.total.ToString("C")</strong></h4>
                    </div>

                    @if (carrito != null && carrito.Count > 0)
                    {
                        <a asp-action="SeleccionarTipoPago" asp-route-idCliente="@Model.IdCliente" class="w-100 mt-auto">
                            <img src="~/img/Continuar-pago.svg" alt="Continuar Pago" class="img-fluid" />
                        </a>
                    }
                }
                else
                {
                    <p class="text-center mt-auto">No hay productos en el carrito.</p>
                }
            </div>
        </div>
    </div>
</div>
