@using Newtonsoft.Json
@model PryVidaFarma.Models.CarritoCompra

@{
    ViewData["Title"] = "Ver Carrito";
    var carrito = JsonConvert.DeserializeObject<List<PryVidaFarma.Models.ProductoCarrito>>(Model.ProductosJson);
}

<div class="container mt-5">
    <div class="mb-3 text-center">
        <h1 class="text-success">Carrito de Compras</h1>

        @if (TempData["mensaje"] != null)
        {
            <div class="alert alert-warning">
                <h4><strong>@TempData["mensaje"]</strong></h4>
            </div>
        }
        <a href="@Url.Action("ListadoProductos", "Productos")" class="btn btn-secondary">Seguir Comprando</a>
    </div>

    <div class="card mx-auto" style="max-width: 800px;">
        <div class="card-body">
            <div class="card w-100 mb-4">
                <div class="card-header text-center">
                    Productos agregados
                </div>
                <div class="card-body">
                    @if (carrito != null && carrito.Count > 0)
                    {
                        @foreach (var item in carrito)
                        {
                            <div class="d-flex justify-content-between mb-2">
                                <div class="d-flex">
                                   
                                    <div>
                                        <div><strong>@item.NombreProducto</strong></div>
                                        <div>Cantidad: @item.Cantidad</div>
                                        <div>Precio Unitario: @item.Precio.ToString("C")</div>
                                        <div>Importe: @item.ImporteTotal.ToString("C")</div>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center">
                                    <img src="@item.Imagen" alt="@item.NombreProducto" class="img-fluid rounded me-3" style="width: 110px; height: 110px; object-fit: cover;" />
                                </div>
                                <div>
                                    <a asp-action="EliminarArticulo" asp-route-idProducto="@item.IdProducto">
                                        <img src="~/img/Drop.svg" alt="Eliminar" />
                                    </a>
                                </div>
                            </div>
                            <hr />
                        }
                    }
                    else
                    {
                        <p class="text-center">No hay productos en el carrito.</p>
                    }
                </div>
            </div>

            <div class="card">
                <div class="card-header text-center">
                    Monto a pagar :
                </div>
                <div class="card-body">
                    @if (ViewBag.total != null && ViewBag.total > 0)
                    {
                        <div class="alert alert-info text-center">
                            <h4>Total a Pagar: <br /> <strong>@ViewBag.total.ToString("C")</strong></h4>
                        </div>

                        @if (carrito != null && carrito.Count > 0)
                        {
                            <a asp-action="SeleccionarTipoPago" asp-route-idCliente="@Model.IdCliente" class="btn btn-success w-100 mt-3">
                                Continuar Pago
                            </a>
                        }
                    }
                    else
                    {
                        <p class="text-center">No hay productos en el carrito.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>